@use "@ui/variables";

.post-list-title {
    margin-top: 0px;
    display: inline-block;
    margin-bottom: 0px;
}

.post-list-description {
    margin-bottom: 0px;
    color: variables.$light;
}

.post-card {
    transition: scale 0.1s ease-in-out;
}

.post-card:hover {
    scale: 1.02;
}