.logo {
    letter-spacing: -0.1em;
    color: white;
    font-size: 32px;
    font-weight: 700;
    display: inline-flex;
}

.logo-full {
    display: inline-block;
    max-width: 0px;
    overflow: hidden;
    transition: max-width 0.2s ease-in-out;
}

.logo:hover .logo-full {
    max-width: 3em;
}